# Byte-compiled / optimized / DLL files
__pycache__/

Dockerfile

test.py
test*/

# C extensions
*.so

# DS Store
.DS_Store

# Legacy    
legacy

# external dirs
sam2/
LASER/
GroundingDINO/
InternVL/

results/
downward

**/.env